<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Main page</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()"></div>
    <h4> Your Username:</h4> <h3 sec:authentication="name"></h3><h4>Your Role: <span sec:authentication="principal.authorities"></span> </h4>
    <div>
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>


        <h2> Welcome to Products Ordering Service!</h2>
    <a href="/orders">To order a product CLICK HERE</a>
</div>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>